.navigation {
   display: flex;
   align-items: center;
   gap: 20px;
   
   list-style-type: none;
   width: 100%;
   background: black;
   padding: 20px;
}

.navigation a {
   text-decoration: none;
   font-size: 20px;
   text-transform: uppercase;
   color: rgb(255, 255, 255);
}
